<div class="row">
<div class="col-md-10" id="options-menu">
    <div class="btn-group">
            
            <!--INSERT-->
            <div class="btn-group">
                <a class="btn btn-small btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                    INSERT statements
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                    <a class="query" query="INSERT INTO {% if tbname %}{{tbname}}{% endif %} ([columns]) VALUES ([conditions])">
                        INSERT VALUES statement
                    </a>
                    </li>
                    <li>
                    <a class="query" query="INSERT INTO {% if tbname %}{{tbname}}{% endif %} ([columns]) DEFAULT VALUES">
                        INSERT DEFAULT VALUES statement
                    </a>
                    </li>
                </ul>
                </div>
                <!--INSERT (END)-->

                <!--UPDATE-->
                <div class="btn-group">
                    <a class="btn btn-small btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                        UPDATE statements
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                        <a class="query" query="UPDATE {% if tbname %}{{tbname}}{% endif %} ([columns]) SET [conditions] WHERE [condition]">
                            UPDATE statement
                        </a>
                        </li>
                    </ul>
                </div>
                <!--UPDATE (END)-->

                <!--DELETE-->
                <div class="btn-group">
                    <a class="btn btn-small btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                        DELETE statements
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    <li>
                    <a class="query" query="DELETE FROM {% if tbname %}{{tbname}}{% endif %}">
                        DELETE ALL statement
                    </a>
                    </li>
                    <li>
                    <a class="query" query="DELETE FROM {% if tbname %}{{tbname}}{% endif %} WHERE [condition]">
                        DELETE WHERE statement
                    </a>
                    </li>
                    </ul>
                </div>
                <!--DELETE (END)-->

            </div>

            <div class="btn-group">
                <a class="btn btn-small btn-default" href="#term" id="term-opener">
                    Make query
                </a>
            </div>
</div>
</div>
<br/>
