{% extends 'layouts/layout_0.html' %}
{% block content %}
{% include 'components/demo/toppanel.html' %}
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header"><h4>{{ dbname }} {% if tbname %}<small>{{tbname}}</small>{% endif %}</h4></div>
    </div>
  </div>
  {% if tbname %}
  <!---->
  <ul class="nav nav-tabs">
    <li{% if tbname %} class="active"{% endif %}><a>Table content</a></li>
    <!--<li class="dropdown">
      <a class="dropdown-toggle"
	 data-toggle="dropdown"
	 href="#">
	Dropdown
	<b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
      </ul>
      </li>-->
  </ul>
  {% endif %}

  <!--options menu-->
  {% include 'menues/demo/options.html' %}
  <!--options menu end-->
<div class="row">
    <!--left block-->
    <div class="span2">
        {% include 'menues/demo/tablelist.html'%} 
    </div>



    <!--right block-->
    <div class="span10">
        <!--terminal-->
            <div id="term" class="well well-small">
                {% include 'components/terminal.html' %}
            </div>
        <!--terminal end-->
        {% block workspace %}{% endblock workspace %}
    </div>
</div>
</div>
{% endblock content %}

