{% extends 'demo/dbman.html' %}
{% block workspace %}
<p>{% if tbname %}{{tbname}}{% endif %} : {{ table_rows}} rows<p>
<table class="table table-bordered table-condensed">
  <tr>
    {% for item in columns %}
    <th>{{ item.name }} ({{ item.type }})</th>
    {% endfor %}
  </tr>
  {% for row in table_content %}
  <tr>
  {% for ch in row %}
  <td>{{ ch }}</td>
  {% endfor %}
  </tr>
  {% endfor %}
</table>
<a href="?action=add">add entry</a>
<form method="post" action="" id="add_entry">
  <table class="table table-bordered table-condensed">
      {% for item in columns %}
      <tr>
	<td class="span3">
	  <label>{{ item.name }}</label>
	  <input type="text" name="{{ item.name }}"/>
	</td>
	<td class="span2">({{ item.type }})</td>
      </tr>
      {% endfor %}
  </table>
  <button type="submit" class=" btn btn-primary">submit</button>
</form>
{% endblock workspace %}
