{% extends 'layouts/layout_0.html' %}
{% block content %}
{% include 'components/admin/toppanel_admin.html' %}
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="page-header"><h4>{{ dbname }} {% if tbname %}<small>{{tbname}}</small>{% endif %}</h4></div>
    </div>
  </div>
  {% if tbname %}
  <!---->
  <ul class="nav nav-tabs">
    <li{% if tbname %} class="active"{% endif %}><a>Table content</a></li>
    <!--<li class="dropdown">
      <a class="dropdown-toggle"
	 data-toggle="dropdown"
	 href="#">
	Dropdown
	<b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
      </ul>
      </li>-->
  </ul>
  {% endif %}

  <!--options menu-->
  {% include 'menues/demo/options.html' %}
  <!--options menu end-->

  <!--terminal-->
  <div class="row">
  <div id="term" class="well well-small span8">
      {% include 'components/terminal.html' %}
  </div>
  </div>
  <!--terminal end-->
  
  <div class="row">
    <div class="span2">
      {% include 'menues/admin/tablelist_admin.html'%}
      <hr/>
      <a class="btn">Create table</a>
    </div>
    <div class="span10">
      {% block workspace %}{% endblock workspace %}
    </div>
  </div>
</div>
{% endblock content %}

