<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
          <a class="brand" href="/">{{ logo }}</a>
          
          <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <li><a href="{{ url_for('sqlite_demo_view') }}">DEMO</a></li>
              {% if db_path %}
                <li><a href="{{ url_for('download_view') }}">DOWNLOAD</a></li>
                <li class="divider-vertical"></li>
                <li><a href="{{url_for('exitdb_view')}}">EXIT AND DELETE DB FILE</a></li>
                <!--<li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>-->
                {% endif %}
            </ul>
            
	</div>
    </div>
</div>
